.chat-box {
  width: 500px;
  background-color:#f0f0f0;;
  border-radius: 8px;
  overflow: hidden;
}
.chat-area {
  overflow-y: scroll;
  padding: 20px;
}
.chat-messages {
  display: flex;
  flex-direction: column;
}
.message {
  margin-bottom: 10px;
  background-color:#fff;
  padding: 10px;
  border-radius: 4px;
}
#message-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}