<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Chat Room</title>

<link rel="stylesheet" href="/css/channel.css">
<script>
			document.addEventListener("DOMContentLoaded", ()  => {
 				var username = sessionStorage.getItem('username')
 				if (username === null) {
 					window.location.href = '/welcome'
 				}
 			})
</script>
</head>
<body>
	<div class="chat-box">
			<div class="chat-messages"></div>
	</div>

	<div class="textbox" id="message-text">
		<input type="text" id="message-input" placeholder="Type your message here...">

		<button id="send-button">Send</button>
		<div>
			<a th:href="@{/welcome}">Home</a><br />
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/channel.js"></script>
</html>