<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<script type="text/javascript" src="/js/welcome.js"> </script>
</head>
<body>
	<h2>Select Channel</h2>
	<div th:each="channel : ${channels}">
		<a th:href="@{/channels/{channelName}(channelName=${channel.channelName})}"
			th:text="${channel.channelName}"></a>
	</div>
	<form action="/welcome/createChannel" method="post">
		<div>
			New Channel: <input type="text" th:field="${channel.channelName}"
				required />
		</div>
		<div>
			<input type="submit" value="Create Channel" />
		</div>

	</form>

</body>
</html>